In [1]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

import random
import numpy as np
from tqdm import tqdm_notebook as tqdm
from collections import defaultdict

In [3]:
# load all metadata
data = []
with open('../data/Sports_and_Outdoors_5.json', 'r') as f:
    for l in tqdm(f):
        data.append(json.loads(l))

FileNotFoundError: [Errno 2] No such file or directory: '../data/Sports_and_Outdoors_5.json'

In [3]:
# show data
print(data[0])

{'overall': 5.0, 'verified': True, 'reviewTime': '06 3, 2015', 'reviewerID': 'A180LQZBUWVOLF', 'asin': '0000032034', 'reviewerName': 'Michelle A', 'reviewText': 'What a spectacular tutu! Very slimming.', 'summary': 'Five Stars', 'unixReviewTime': 1433289600}

In [8]:
df = []
for i in range(0,len(data)):
    df.append(pd.Series(data[i]))
df = pd.DataFrame(df)

In [6]:
df = pd.read_csv("../data/Sports_and_Outdoors.csv")
df

          0000031895  A23K73OVXJ04EG  5.0  1391212800
0         0000031895  A2681T699HV6H1  4.0  1384905600
1         0000031895  A374PA18DCGS5Y  1.0  1477008000
2         0000031895  A14PVW2N5YBWSA  5.0  1476748800
3         0000031895  A2KWBC44QI2567  1.0  1476662400
4         0000031895  A2WGRWA7BDPF7F  5.0  1474156800
...              ...             ...  ...         ...
12980831  B01HJHHBHG  A33DFHRKGPDEF7  3.0  1502323200
12980832  B01HJHHBHG   AT5N4QPWM1GKL  4.0  1501372800
12980833  B01HJHHBHG  A3ONWSRNZFNC3U  5.0  1497139200
12980834  B01HJHHBHG  A1OJNTT9ZTT82A  5.0  1496966400
12980835  B01HJFUCHO  A2SHB9ITG7EALR  5.0  1526515200

[12980836 rows x 4 columns]

In [7]:
df.to_csv("../data/reviews_sports.csv")
df

          0000031895  A23K73OVXJ04EG  5.0  1391212800
0         0000031895  A2681T699HV6H1  4.0  1384905600
1         0000031895  A374PA18DCGS5Y  1.0  1477008000
2         0000031895  A14PVW2N5YBWSA  5.0  1476748800
3         0000031895  A2KWBC44QI2567  1.0  1476662400
4         0000031895  A2WGRWA7BDPF7F  5.0  1474156800
...              ...             ...  ...         ...
12980831  B01HJHHBHG  A33DFHRKGPDEF7  3.0  1502323200
12980832  B01HJHHBHG   AT5N4QPWM1GKL  4.0  1501372800
12980833  B01HJHHBHG  A3ONWSRNZFNC3U  5.0  1497139200
12980834  B01HJHHBHG  A1OJNTT9ZTT82A  5.0  1496966400
12980835  B01HJFUCHO  A2SHB9ITG7EALR  5.0  1526515200

[12980836 rows x 4 columns]